/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling for the entire page */
.page {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 26, 32);
}
.page__inner{
    background-color:  rgb(255, 255, 255); 

}

/* Header styles */
.header.page__header {
    color: #000000;
    padding: 10px 0;
}

.nav.page__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: rgb(173, 127, 0)
}

.nav.page__nav_logo a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #666666;
}

/* Main content styles */
main {
    background: url('images/dda3d967-84d3-4533-b7f7-f1c5fb514326-large16x9_Flamingo.jpg') center/cover no-repeat;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    text-align: center;
}

.search-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form input,
form button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #008CBA;
    color: #fff;
    cursor: pointer;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #008CBA;
    color: #fff;
    padding: 10px 0;
}
